.btn{
    appearance: button;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}

.btn-outline{
    border: 1px solid;
}

.btn-outline:hover{
    color: white !important;
    background-color: var(--primary);
}

.btn-secondary{
    color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.btn-secondary:hover{
    background-color: var(--secondary);
}

.btn-success{
    color: var(--success) !important;
    border-color: var(--success) !important;
}

.btn-success:hover{
    background-color: var(--success);
}

.btn-danger{
    color: var(--danger) !important;
    border-color: var(--danger) !important;
}

.btn-danger:hover{
    background-color: var(--danger);
}